@page
@using AspNetCore.ReCaptcha
@model ApplicationSecurityAssignment.Pages.Account.ChangePasswordModel
@{
}
<form method="post">

    <div class="form-outline mb-4">
        <label class="form-label" asp-for="Password">Password</label>
        <input type="password" id="registerPassword" class="form-control" asp-for="Password" />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" asp-for="ConfirmPassword">Repeat password</label>
        <input type="password" id="registerRepeatPassword" class="form-control" asp-for="ConfirmPassword" />
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    </div>
    <span class="text-danger">@Html.ValidationSummary(true)</span>
    <button type="submit" class="btn btn-primary w-100">Reset Password</button>
    @Html.ReCaptcha()
</form>