@page
@using AspNetCore.ReCaptcha;
@model ApplicationSecurityAssignment.Pages.Account.LoginModel
@{
    
}
<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Login </h1>

			<form method="post">

				<div class="mb-3">
					<label class="form-label" asp-for="LModel.Email">Email Address</label>
					<input type="Text" asp-for="LModel.Email" class="form-control" />
					<span asp-validaton-for="LModel.Email" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="LModel.Password">Password</label>
					<input type="Text" asp-for="LModel.Password" class="form-control" />
					<span asp-validaton-for="LModel.Password" class="text-danger"></span>
				</div>

				<div class="row mb-4">
					<div class="col-md-6 d-flex justify-content-start">
						<!-- Checkbox -->
						<div class="form-check mb-3 mb-md-0">
							<input class="form-check-input" type="checkbox" id="loginCheck" asp-for="LModel.RememberMe" />
							<label class="form-check-label" asp-for="LModel.RememberMe"> Remember me </label>
						</div>
					</div>

					<div class="col-md-6 d-flex justify-content-end">
						<!-- Simple link -->
						<a asp-page="ForgetPassword">Forgot password?</a>
					</div>
				</div>

				<div asp-validation-summary="All" class="text-danger"></div>

				<div class="mb-3 d-grid">
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			
				@Html.ReCaptcha()
			</form>
			<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        <button type="submit" class="btn btn-primary" name="provider" value="Google" title="Log in using your"> </button>
                    </p>
                </div>
            </form>
		</div>
	</div>
</div>

@section Scripts {
	<script src="https://accounts.google.com/gsi/client" async defer></script>
}
